{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
	<div>
        <table class="requests">
                <tr>
                    <th>Url {% sort_url 'path' %}</th>
                    <th>Method {% sort_url 'method' %}</th>
                    <th>User {% sort_url 'user' %}</th>
                    <th>Date {% sort_url 'date' %}</th>
                    <th>Priority {% sort_url 'priority' %}</th>
                </tr>
            {% for request_ in first_requests %}
                <tr>
                    <td><a href="{{request_.path}}">{{request_.path}}</td>
                    <td>{{request_.method}}</td>
                    <td>{{request_.user}}</td>
                    <td>{{request_.date}}</td>
                    <td>{{request_.priority}}</td>
                </tr>
            {% endfor %}
        </table>
	</div>

{% endblock content %}
